body {
  font-family: 'Rubik', sans-serif;
  line-height: 170%; }
  body code {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient(#f4b642, #f441d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

/* Código de la tabla aquí */

table{
  align: center;
}

h1{
  text-align: center;
  color: black;
}

.title{
  background-color: #0066cc;
}

.rows{
  background-color: #99e600;
}

.rows2{
  background-color: #80bfff;
}

.right{
  background-color: #80bfff;
  text-align: right;
}

.salary{
  color:red;
}

td:hover{
  background-color: #ccccb3;
  cursor: all-scroll;
}

button{
  background-color: transparent;
  border: 2px solid #99e600;
}

button:hover{
  background-color: #99e600;
  color: white;
  text-align: center;
  display: inline-block;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.4s;
  cursor: pointer;
}
